<div class="row container">

	<div class='col-md-9'>
		<section class="resume">
			<h2>resume</h2>
			<hr/>
			<object data='../assets/pdf/Resume.pdf' type='application/pdf' width='100%' height='700'>
				<a href='../assets/pdf/Resume.pdf'>Resume.pdf</a>
			</object>
		</section>
	</div>


	<div class='col-md-3'>
		<section class="contact-info">
			<h2>contact</h2>
			<hr/>
			<li>email: matthew.a.chan@gmail.com</li>
			<li>github: <a href="https://github.com/matthewachan" target="_blank">github.com/matthewachan</a></li>
			<li>linkedin: <a href="https://www.linkedin.com/in/matthewachan" target="_blank">linkedin.com/in/mc</a></li>
		</section>
	</div>


</div>