/* General settings */
li, p, a {
	font-family: 'Open Sans';
}
h2{
	font-family: 'Raleway';
	font-size: 40px;
	font-weight: 500;
}
li {
	font-size: 15px;
	font-weight: 400;
}
p {
	font-size: 18px;
}
hr {
    display: block;
    height: 1px;
    width: 55px;
    border: 0;
    border-top: 1px solid #00BFA5;
    margin: 1em 0;
    padding: 0; 
}
a:visited, a:hover {
	text-decoration: none;
}




/* Section settings */
section > h2 {
	/* Orange */
	color: #00BFA5;
}
.projects > button {
	background-color: white;
	border-width: 0px;
	border-radius: 0px;
}

/* Contact info settings */
.contact-info h2 {
	/* Orange header */
	color: #E65100
}
.contact-info hr {
	border-top: 1px solid #E65100;
}
