<div class="row container">



	<div class='col-md-3'>
		<h2>info</h2>
		<li>phone: 610.500.3292</li>
		<li>email: matthew.a.chan@gmail.com</li>
		<li>linkedin: matthewachan</li>
	</div>



	<div class='col-md-9'>
		<h2>about</h2>
		<p>software engineer / application developer in northern california</p>

		<div class="frameworks">
			<h2>frameworks</h2>

			<div class="wrapper col-md-3">
				<img src="../../assets/img/unity.png"/>
				<p class="label">Unity3D</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/unreal.png"/>
				<p class="label">UE4</p>
			</div>

			<div class="wrapper col-md-3">
				<img src="../../assets/img/angular.png"/>
				<p class="label">Angular2</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/node.png"/>
				<p class="label">Node.js</p>
			</div>

		</div>


		<br/>

		<div class="languages" style="margin-bottom: 55px;">
			<h2>languages</h2>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/c++.png"/>
				<p class="label">C++</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/csharp.png"/>
				<p class="label">C#</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/python.png"/>
				<p class="label">Python</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/javascript.png"/>
				<p class="label">JavaScript</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/java.png"/>
				<p class="label">Java</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/r.png"/>
				<p class="label">R</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/mysql.png"/>
				<p class="label">MySQL</p>
			</div>
			

		</div>
	</div>




</div>