/* General settings */
li, p, a {
	font-family: 'Open Sans';
}
h2{
	font-family: 'Raleway';
	font-size: 40px;
	font-weight: 500;
}
li {
	font-size: 15px;
	font-weight: 400;
}
p {
	font-size: 18px;
}
hr {
    display: block;
    height: 1px;
    width: 55px;
    border: 0;
    border-top: 1px solid #00BFA5;
    margin: 1em 0;
    padding: 0; 
}
a:visited, a:hover {
	text-decoration: none;
}



/* Section settings */
section > h2 {
	/* Orange */
	color: #00BFA5;
}
.projects > button {
	background-color: white;
	border-width: 0px;
	border-radius: 0px;
}

/* Contact info settings */
.contact-info h2 {
	/* Orange header */
	color: #E65100
}
.contact-info hr {
	border-top: 1px solid #E65100;
}



/* Project thumbnail settings */
.project {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 220px;
}
.project img {
	display: block;
	border-radius: 0;
	width: 100%;
	height: auto;
	-webkit-animation: fadein 2s; 
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s; 
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

/* Project hover labels */
.project .project-label {
	position: absolute;
	text-align: center;
	margin: 0;
	padding-top: 20%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.4);
	color: black;
	visibility: hidden;
	opacity: 0;
	font-family: 'Permanent Marker';
	font-weight: 800;
	font-size: 44px;
}
.project:hover > .project-label {
	visibility: visible;
	opacity: 1;
}

/* General modal settings */
.modal-dialog {
	width: 40%;
}
.modal-footer {
	text-align: left;
}
.modal-footer p {
	font-size: 17px;
	margin: 0 22px;
}
.modal-footer > a {
	margin-top: 22px;
}

/* Modal header settings */
.modal-header > h4 {
	font-family: 'Open Sans';
	font-size: 28px;
	font-weight: 700;
	color: black;
}


/* Dialog box not rounded */
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}


/* Modal image settings */
.modal-body {
	overflow: hidden;
	height: 300px;
	margin: 16px 0;
}
.modal-body img {
	width: 100%;
	position: relative;
}