<div class="row container">

	<div class="project col-md-6">
		<img src="../../assets/img/friendwars.jpg"/>
		<a href="https://github.com/matthewachan/friendwars" target="_blank" class="project-label">FriendWars</a>
	</div>
	<div class="project col-md-6">
		<img src="../../assets/img/sleepless.jpg"/>
		<a href="http://www.sleeplesscrew.com" target="_blank"  class="project-label">Sleepless</a>
	</div>

</div>

<div class="row container">

	<div class="project col-md-6">
		<img src="../../assets/img/invaders.jpg"/>
		<a href="https://github.com/matthewachan/qtinvaders" target="_blank"  class="project-label">Invaders++</a>
	</div>
	<div class="project col-md-6">
		<img src="../../assets/img/opencv.jpg"/>
		<a href="https://github.com/matthewachan/opencv-image-tracker" target="_blank"  class="project-label">TrackerCV</a>
	</div>

</div>


<div class="row container" style="margin-bottom: 100px">

	<div class="project col-md-6">
		<img src="../../assets/img/mnist2.jpg"/>
		<a href="https://github.com/matthewachan/ml-text-analyzer" target="_blank"  class="project-label">MNIST</a>
	</div>
	<div class="project col-md-6">
		<img src="../../assets/img/encrypt.jpg"/>
		<a href="https://github.com/matthewachan/txtencrypter" target="_blank"  class="project-label">EncrypTxt</a>
	</div>

</div>