/* You can add global styles to this file, and also import other style files */
html, body {
	display: block;
	font: 300 22px/150% 'Raleway', 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	line-height: 150%;
}
html, body {
	background-color: white;
}