<div class="row container">

	<div class='col-md-9'>
		<h2>about me</h2>
		<hr/>
		<p>I'm a Software Engineer at Intel working on data visualization and machine learning applications. I graduated in March '16 from UCLA with a degree in Economics and a minor in CS. My other interests include gamedev and 3D animation-- in fact, I'm working on prototyping some games right now! </p>
		<h3>programming languages</h3>
		<ul>
			<li>Advanced: C++, Java, Python</li>
			<li>Intermediate: JavaScript, R, C#</li>
		</ul>
		<h3>technologies, libraries, tools</h3>
		<ul>
			<li>Gamedev: Unity3D, Unreal Engine, OpenGL, Maya, Qt</li>
			<li>ML Stack: scikit-learn, TensorFlow, OpenCV</li>
			<li>Data Stack: Hadoop, Spark, MySQL, Hive</li>
			<li>Web Stack: NodeJS, Angular 2, Express.js, MongoDB, HTML/CSS, Bootstrap</li>
			<li>General: Git/GitHub, Linux, bash</li> 
		</ul>
		<div class="frameworks">
			<h2>experience</h2>
			<hr/>
			<div class="wrapper col-md-6" style="padding: 0 66px;">
				<img src='../assets/img/intel.png' style="padding-top: 11px;"/>
				<p class="label"> </p>
			</div>
			<div class="wrapper col-md-6">
				<img src='../assets/img/ucla.jpg'  />
				<p class="label"> </p>
			</div>
			<!--
			<div class="wrapper col-md-3">
				<img src="../../assets/img/unity.png"/>
				<p class="label">Unity3D</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/unreal.png"/>
				<p class="label">UE4</p>
			</div>

			<div class="wrapper col-md-3">
				<img src="../../assets/img/angular.png"/>
				<p class="label">Angular2</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/node.png"/>
				<p class="label">Node.js</p>
			</div>
			
		</div>


		<br/>

		<div class="languages" style="margin-bottom: 55px;">
			<h2>languages</h2>
			<hr/>
			
			<div class="wrapper col-md-3">
				<img src="../../assets/img/c++.png"/>
				<p class="label">C++</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/csharp.png"/>
				<p class="label">C#</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/python.png"/>
				<p class="label">Python</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/javascript.png"/>
				<p class="label">JavaScript</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/java.png"/>
				<p class="label">Java</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/r.png"/>
				<p class="label">R</p>
			</div>
			<div class="wrapper col-md-3">
				<img src="../../assets/img/mysql.png"/>
				<p class="label">MySQL</p>
			</div>
			
			-->
		</div>
	</div>


	<div class='col-md-3'>
		<h2 style="color:#E65100">contact</h2>
		<hr style="border-top: 1px solid #E65100"/>
		<li>email: matthew.a.chan@gmail.com</li>
		<li>github: <a href="https://github.com/matthewachan" target="_blank">github.com/matthewachan</a></li>
		<li>linkedin: <a href="https://www.linkedin.com/in/matthewachan" target="_blank">linkedin.com/in/mc</a></li>
	</div>


</div>